In [1]:
#Know Python version
import sys
print ("Python version: ",sys.version)

Python version:  3.8.5 (default, Sep  3 2020, 21:29:08) [MSC v.1916 64 bit (AMD64)]

In [2]:
#keywords in python
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [3]:
#global variable
a =10
print("Memory address of a is: " , id(a))

def something():
    a = 15
    x = globals () ['a']# x and a points to the same memory location
    print("Memory address of x is: " ,id(x))
    print('Value is:', a)
    globals()['a'] = 222 # now the value of global variable will get changed
    
something()
print("Outside value of a : " ,a)

Memory address of a is:  140710447687744
Memory address of x is:  140710447687744
Value is: 15
Outside value of a :  222

In [1]:
a = 123
id(a)

2652465223856

In [45]:
type(a)

int

In [43]:
string = "Monty Python's Comedy Circus"
id(string)

1937270698512

In [44]:
type(string)

str

# Bitwise Operators

In [4]:
bin(10) + bin(20) #Convert into Binary

'0b10100b10100'

In [ ]:
# rounding of a digit 
round(2.33536536543654,5)

In [5]:
hex(5) # Hexa representation

'0x5'

In [6]:
int(0b1010) #Convert into Digit

10

In [40]:
# Gives OCTAL VALUE
oct(23)
# oct(0b10111)
# oct(0x17)

'0o27'

In [35]:
# Gives ASCII value of Character
ord('a')

97

In [5]:
ord('z') - ord('a')

25

In [41]:
#oct() - The oct() method returns an octal string from the given integer number.
print("The octal representation of 23 is " + oct(23)) 
  
print("The octal representation of the"
    " ascii value of 'z' is " + oct(ord('z')))

The octal representation of 23 is 0o27
The octal representation of the ascii value of 'z' is 0o172

In [1]:
#hash(): The hash() method returns the hash value of an object if it has one.
# hash for integer unchanged
print('Hash for 181 is:', hash(181))

# hash for decimal
print('Hash for 181.23 is:',hash(181))

# hash for string
print('Hash for Python is:', hash('Python'))

Hash for 181 is: 181
Hash for 181.23 is: 181
Hash for Python is: -9077406669827870276

In [7]:
a=10 # 1010
b=7 # #111
print(a&b) #Bitwise AND (&)
print(a|b)  #Bitwise OR (|)
print(a^b) #Bitwise xOR (^)
print(~a) #Bitwise Complement (~X = -X-1) = -1010-1 = -1011 = -11
print(10<<2) #Bitwise Left Shift (<<)i.e. binary number is appended with 0s at the end.= 101000 = 
print(10>>2) #Bitwise right shift (>>) i.e.  right side bits are removed = 1010 >>2 = 10 i.e. 2

2
15
13
-11
40
2

In [8]:
class Data:
    id = 0

    def __init__(self, i):
        self.id = i

    def __and__(self, other):
        print('Bitwise AND operator overloaded')
        if isinstance(other, Data):
            return Data(self.id & other.id)
        else:
            raise ValueError('Argument must be object of Data')

    def __or__(self, other):
        print('Bitwise OR operator overloaded')
        if isinstance(other, Data):
            return Data(self.id | other.id)
        else:
            raise ValueError('Argument must be object of Data')

    def __xor__(self, other):
        print('Bitwise XOR operator overloaded')
        if isinstance(other, Data):
            return Data(self.id ^ other.id)
        else:
            raise ValueError('Argument must be object of Data')

    def __lshift__(self, other):
        print('Bitwise Left Shift operator overloaded')
        if isinstance(other, int):
            return Data(self.id << other)
        else:
            raise ValueError('Argument must be integer')

    def __rshift__(self, other):
        print('Bitwise Right Shift operator overloaded')
        if isinstance(other, int):
            return Data(self.id >> other)
        else:
            raise ValueError('Argument must be integer')

    def __invert__(self):
        print('Bitwise Ones Complement operator overloaded')
        return Data(~self.id)

    def __str__(self):
        return f'Data[{self.id}]'


d1 = Data(10)
d2 = Data(7)

print(f'd1&d2 = {d1&d2}')
print(f'd1|d2 = {d1|d2}')
print(f'd1^d2 = {d1^d2}')
print(f'~d1 = {~d1}')
print(f'd1<<2 = {d1<<2}')
print(f'd1>>2 = {d1>>2}')

Bitwise AND operator overloaded
d1&d2 = Data[2]
Bitwise OR operator overloaded
d1|d2 = Data[15]
Bitwise XOR operator overloaded
d1^d2 = Data[13]
Bitwise Ones Complement operator overloaded
~d1 = Data[-11]
Bitwise Left Shift operator overloaded
d1<<2 = Data[40]
Bitwise Right Shift operator overloaded
d1>>2 = Data[2]

# Booleans/Comparison Operators

In [9]:
bool(0) # print TRUE or FALSE

False

In [10]:
bool('HI') # print TRUE or FALSE

True

In [11]:
a=10
b=7
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
True
False
True
False

In [12]:
int(True) 
#int (False)

1

In [13]:
# Character associated with that ascii value
chr(97)

'a'

In [ ]:
ascii(0o10)

In [14]:
keyword.iskeyword('pass')

True

# Arithmetic Operators

In [15]:
a=10
b=7
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)#Exponentiation
print(a//b) #Floor division

17
3
70
1.4285714285714286
3
10000000
1

In [17]:
from math import *
a = 12.19
b = 23.9999
c = -13.30
print(int(a),floor(b),ceil(c),fabs(c))

12 23 -13 13.3

In [4]:
print(type(11/2))
print(type(11//2))

<class 'float'>
<class 'int'>

# Assignment Operators

In [16]:
a=10
print(a)

a=10
a += 5
print(a)

a=10
a-= 5
print(a)

a=10
a*= 5
print(a)

a=10
a/= 5
print(a)

a=10
a %= 5
print(a)

a=10
a //= 5
print(a)

a=10
a **= 5
print(a)

a=5 #5 = 101
a &= 3 # 3 = 011 hence a= a& 3 = 101 & 011 = 001 i.e. 1
print(a)

a=10
a |= 5
print(a)

a=10
a ^= 5
print(a)

a=10
a >>= 5
print(a)

a=10
a <<= 5
print(a)

10
15
5
50
2.0
0
2
100000
1
15
15
0
320

In [4]:
4+3%5

7

# Logical Operators

In [17]:
x =3 
print(x < 5 and  x < 10)
print(x < 5 or x < 4)
print(not(x < 5 and x < 10))

True
True
False

# Identity Operators

In [18]:
x=6
y=7
print(x is y)
print(x is not y)

False
True

# Membership Operators

In [19]:
x = ["apple", "banana"]
print("banana" in x)
x = ["apple", "banana"]
print("pineapple" not in x)

True
True

In [11]:
6 * 8 / 2**3 - 2 * 2

2.0

In [12]:
23 + 4 **2

39

In [13]:
9 * 3 - 8 + 6

25

In [14]:
7%2 + 7//2

4

In [15]:
67 + 3%3

67

In [16]:
12 % 4 + 6 + 4 // 3

7

# Interacting with Dates

In [1]:
#Leap year or not e.g. 2004, 2012, 2020
year = int(input('Enter year: '))
if year % 400 == 0:
    print(year, 'is a Leap year')
elif year % 4 == 0:
    print(year, 'is a Leap year')
elif year % 100 == 0:
    print(year, 'is a Leap year')
else:
    print(year, 'is Not a leap year')

Enter year: 2020
2020 is a Leap year

In [37]:
d=datetime.date(1978,11,7).strftime('%F')#datetime.date(four digit year, month with 0 not-prefixed, date with 0 not-prefixed)
print("Date is: ", d)

Date is:  1978-11-07

In [35]:
#URGENT To print date and time both using datetime()
import datetime

# Date_Time = datetime.datetime(1978,11,7,5,8,12,31)
Date_Time = datetime.datetime.now()
print ("Today's date is: ", datetime.datetime.today().strftime('%D'))#date values seperated by /
print ("Today's date is: ", datetime.datetime.today().strftime('%F'))#date values seperated by /
print ("Date & Time is: ",  Date_Time)
print ("Only Year is: ", Date_Time.year)
print ("Only Month is: " ,Date_Time.month)
print ("Only Date is:", Date_Time.day)
print ("Hour is: ", Date_Time.hour)
print ("Minute is: ", Date_Time.minute)
print ("Second is: ", Date_Time.second)
print ("Micro Second is: ", Date_Time.microsecond)

print('Day number if Monday is 0th day:', Date_Time.weekday()) # With "weekday()", Monday is 0th day
print('Day number if Monday is 1st day:',Date_Time.isoweekday()) # with "isoweekday()", Monday is 1st day

Birthdate = datetime.date(1978,11,7)
Till_Bday = tdate - Birthdate

print("Number of day's from my Birth Date: ", Till_Bday.days) #Till_Bday.days

Today's date is:  08/07/21
Today's date is:  2021-08-07
Date & Time is:  2021-08-07 17:12:51.049007
Only Year is:  2021
Only Month is:  8
Only Date is: 7
Hour is:  17
Minute is:  12
Second is:  51
Micro Second is:  49007
Day number if Monday is 0th day: 5
Day number if Monday is 1st day: 6
Number of day's from my Birth Date:  15614

In [1]:
from datetime import date
# from datetime import time
from datetime import datetime
today = date.today()
print(today)
print(today.day, today.month, today.year, today.weekday())

print(datetime.now())
print (datetime.time(datetime.now()))

2022-11-17
17 11 2022 3
2022-11-17 18:07:59.025833
18:07:59.025833

In [4]:
import datetime; print('Number of days remaining in this year: ', (datetime.date(2022,12,31)-datetime.date.today()).days)

Number of days remaining in this year:  44

In [21]:
Company’s name	Designation	Duration
Brainvisa Technologies Pvt Ltd
QA Analyst	12 Dec 2005 to 31 Oct 2007 (1 Year and 10 months)

Tata Consultancy Services (TCS)
Assistant Consultant (Agile Scrum Master)	12 Nov 2007 to 17 Apr 2017 (9 years and 5 months)

GlobalStep
Project Manager (Data Analyst)	18 Apr 2017 to 23 Aug 2019 (2 years and 4 months)

Futurism Technologies
Data Science Engineer (Data Scientist)	4 Nov 2019 to date (1 year 9 months)

import datetime
bv_start_date = datetime.datetime(2005, 12, 12)
bv_end_date = datetime.datetime(2007,10,31)
bv_num_months = (bv_end_date.year - bv_start_date.year) * 12 + (bv_end_date.month - bv_start_date.month)
print(int(num_months/12), 'year and',num_months%12, 'months' )

tcs_start_date = datetime.datetime(2007, 11, 12)
tcs_end_date = datetime.datetime(2017,4,17)
tcs_num_months = (tcs_end_date.year - tcs_start_date.year) * 12 + (tcs_end_date.month - tcs_start_date.month)
print(int(tcs_num_months/12), 'year and',tcs_num_months%12, 'months' )

gs_start_date = datetime.datetime(2017, 4, 18)
gs_end_date = datetime.datetime(2019,8,23)
gs_num_months = (gs_end_date.year - gs_start_date.year) * 12 + (gs_end_date.month - gs_start_date.month)
print(int(gs_num_months/12), 'year and',gs_num_months%12, 'months' )

ft_start_date = datetime.datetime(2019, 11, 4)
ft_end_date = datetime.datetime.today()
ft_num_months = (ft_end_date.year - ft_start_date.year) * 12 + (ft_end_date.month - ft_start_date.month)
print(int(ft_num_months/12), 'year and',ft_num_months%12, 'months' )

1 year and 10 months
9 year and 5 months
2 year and 4 months
2 year and 3 months

In [22]:
# To show local time, UTC time
import datetime
print("Today's Date and Time is:" ,datetime.datetime.now())
print ("Today's local Time is:" ,datetime.datetime.today()) ## Current local time
print ("Today's UTC Time is:" ,datetime.datetime.utcnow()) ## UTC time

Today's Date and Time is: 2022-02-20 08:42:00.015355
Today's local Time is: 2022-02-20 08:42:00.015356
Today's UTC Time is: 2022-02-20 03:12:00.015355

In [23]:
#URGENT To print given date and current UTC time
import datetime
import pytz

print (datetime.datetime(1978,11,7,6,5,tzinfo = pytz.utc))
print (datetime.datetime.now(tz=pytz.utc)) # millisecond will also get added

1978-11-07 06:05:00+00:00
2022-02-20 03:12:01.859455+00:00

In [24]:
#To print different time zones
import datetime
import pytz
dt_utcnow = datetime.datetime.now(tz=pytz.utc)
print (dt_utcnow) # millisecond will also get added

dt_mtn = dt_utcnow.astimezone(pytz.timezone('US/Mountain'))
print (dt_mtn) # millisecond will also get added

2022-02-20 03:12:05.939409+00:00
2022-02-19 20:12:05.939409-07:00

In [30]:
#To print different time zones
import datetime
import pytz

for tz in pytz.all_timezones:
    print (tz)

Africa/Abidjan
Africa/Accra
Africa/Addis_Ababa
Africa/Algiers
Africa/Asmara
Africa/Asmera
Africa/Bamako
Africa/Bangui
Africa/Banjul
Africa/Bissau
Africa/Blantyre
Africa/Brazzaville
Africa/Bujumbura
Africa/Cairo
Africa/Casablanca
Africa/Ceuta
Africa/Conakry
Africa/Dakar
Africa/Dar_es_Salaam
Africa/Djibouti
Africa/Douala
Africa/El_Aaiun
Africa/Freetown
Africa/Gaborone
Africa/Harare
Africa/Johannesburg
Africa/Juba
Africa/Kampala
Africa/Khartoum
Africa/Kigali
Africa/Kinshasa
Africa/Lagos
Africa/Libreville
Africa/Lome
Africa/Luanda
Africa/Lubumbashi
Africa/Lusaka
Africa/Malabo
Africa/Maputo
Africa/Maseru
Africa/Mbabane
Africa/Mogadishu
Africa/Monrovia
Africa/Nairobi
Africa/Ndjamena
Africa/Niamey
Africa/Nouakchott
Africa/Ouagadougou
Africa/Porto-Novo
Africa/Sao_Tome
Africa/Timbuktu
Africa/Tripoli
Africa/Tunis
Africa/Windhoek
America/Adak
America/Anchorage
America/Anguilla
America/Antigua
America/Araguaina
America/Argentina/Buenos_Aires
America/Argentina/Catamarca
America/Argentina/ComodRivadavia
America/Argentina/Cordoba
America/Argentina/Jujuy
America/Argentina/La_Rioja
America/Argentina/Mendoza
America/Argentina/Rio_Gallegos
America/Argentina/Salta
America/Argentina/San_Juan
America/Argentina/San_Luis
America/Argentina/Tucuman
America/Argentina/Ushuaia
America/Aruba
America/Asuncion
America/Atikokan
America/Atka
America/Bahia
America/Bahia_Banderas
America/Barbados
America/Belem
America/Belize
America/Blanc-Sablon
America/Boa_Vista
America/Bogota
America/Boise
America/Buenos_Aires
America/Cambridge_Bay
America/Campo_Grande
America/Cancun
America/Caracas
America/Catamarca
America/Cayenne
America/Cayman
America/Chicago
America/Chihuahua
America/Coral_Harbour
America/Cordoba
America/Costa_Rica
America/Creston
America/Cuiaba
America/Curacao
America/Danmarkshavn
America/Dawson
America/Dawson_Creek
America/Denver
America/Detroit
America/Dominica
America/Edmonton
America/Eirunepe
America/El_Salvador
America/Ensenada
America/Fort_Nelson
America/Fort_Wayne
America/Fortaleza
America/Glace_Bay
America/Godthab
America/Goose_Bay
America/Grand_Turk
America/Grenada
America/Guadeloupe
America/Guatemala
America/Guayaquil
America/Guyana
America/Halifax
America/Havana
America/Hermosillo
America/Indiana/Indianapolis
America/Indiana/Knox
America/Indiana/Marengo
America/Indiana/Petersburg
America/Indiana/Tell_City
America/Indiana/Vevay
America/Indiana/Vincennes
America/Indiana/Winamac
America/Indianapolis
America/Inuvik
America/Iqaluit
America/Jamaica
America/Jujuy
America/Juneau
America/Kentucky/Louisville
America/Kentucky/Monticello
America/Knox_IN
America/Kralendijk
America/La_Paz
America/Lima
America/Los_Angeles
America/Louisville
America/Lower_Princes
America/Maceio
America/Managua
America/Manaus
America/Marigot
America/Martinique
America/Matamoros
America/Mazatlan
America/Mendoza
America/Menominee
America/Merida
America/Metlakatla
America/Mexico_City
America/Miquelon
America/Moncton
America/Monterrey
America/Montevideo
America/Montreal
America/Montserrat
America/Nassau
America/New_York
America/Nipigon
America/Nome
America/Noronha
America/North_Dakota/Beulah
America/North_Dakota/Center
America/North_Dakota/New_Salem
America/Nuuk
America/Ojinaga
America/Panama
America/Pangnirtung
America/Paramaribo
America/Phoenix
America/Port-au-Prince
America/Port_of_Spain
America/Porto_Acre
America/Porto_Velho
America/Puerto_Rico
America/Punta_Arenas
America/Rainy_River
America/Rankin_Inlet
America/Recife
America/Regina
America/Resolute
America/Rio_Branco
America/Rosario
America/Santa_Isabel
America/Santarem
America/Santiago
America/Santo_Domingo
America/Sao_Paulo
America/Scoresbysund
America/Shiprock
America/Sitka
America/St_Barthelemy
America/St_Johns
America/St_Kitts
America/St_Lucia
America/St_Thomas
America/St_Vincent
America/Swift_Current
America/Tegucigalpa
America/Thule
America/Thunder_Bay
America/Tijuana
America/Toronto
America/Tortola
America/Vancouver
America/Virgin
America/Whitehorse
America/Winnipeg
America/Yakutat
America/Yellowknife
Antarctica/Casey
Antarctica/Davis
Antarctica/DumontDUrville
Antarctica/Macquarie
Antarctica/Mawson
Antarctica/McMurdo
Antarctica/Palmer
Antarctica/Rothera
Antarctica/South_Pole
Antarctica/Syowa
Antarctica/Troll
Antarctica/Vostok
Arctic/Longyearbyen
Asia/Aden
Asia/Almaty
Asia/Amman
Asia/Anadyr
Asia/Aqtau
Asia/Aqtobe
Asia/Ashgabat
Asia/Ashkhabad
Asia/Atyrau
Asia/Baghdad
Asia/Bahrain
Asia/Baku
Asia/Bangkok
Asia/Barnaul
Asia/Beirut
Asia/Bishkek
Asia/Brunei
Asia/Calcutta
Asia/Chita
Asia/Choibalsan
Asia/Chongqing
Asia/Chungking
Asia/Colombo
Asia/Dacca
Asia/Damascus
Asia/Dhaka
Asia/Dili
Asia/Dubai
Asia/Dushanbe
Asia/Famagusta
Asia/Gaza
Asia/Harbin
Asia/Hebron
Asia/Ho_Chi_Minh
Asia/Hong_Kong
Asia/Hovd
Asia/Irkutsk
Asia/Istanbul
Asia/Jakarta
Asia/Jayapura
Asia/Jerusalem
Asia/Kabul
Asia/Kamchatka
Asia/Karachi
Asia/Kashgar
Asia/Kathmandu
Asia/Katmandu
Asia/Khandyga
Asia/Kolkata
Asia/Krasnoyarsk
Asia/Kuala_Lumpur
Asia/Kuching
Asia/Kuwait
Asia/Macao
Asia/Macau
Asia/Magadan
Asia/Makassar
Asia/Manila
Asia/Muscat
Asia/Nicosia
Asia/Novokuznetsk
Asia/Novosibirsk
Asia/Omsk
Asia/Oral
Asia/Phnom_Penh
Asia/Pontianak
Asia/Pyongyang
Asia/Qatar
Asia/Qostanay
Asia/Qyzylorda
Asia/Rangoon
Asia/Riyadh
Asia/Saigon
Asia/Sakhalin
Asia/Samarkand
Asia/Seoul
Asia/Shanghai
Asia/Singapore
Asia/Srednekolymsk
Asia/Taipei
Asia/Tashkent
Asia/Tbilisi
Asia/Tehran
Asia/Tel_Aviv
Asia/Thimbu
Asia/Thimphu
Asia/Tokyo
Asia/Tomsk
Asia/Ujung_Pandang
Asia/Ulaanbaatar
Asia/Ulan_Bator
Asia/Urumqi
Asia/Ust-Nera
Asia/Vientiane
Asia/Vladivostok
Asia/Yakutsk
Asia/Yangon
Asia/Yekaterinburg
Asia/Yerevan
Atlantic/Azores
Atlantic/Bermuda
Atlantic/Canary
Atlantic/Cape_Verde
Atlantic/Faeroe
Atlantic/Faroe
Atlantic/Jan_Mayen
Atlantic/Madeira
Atlantic/Reykjavik
Atlantic/South_Georgia
Atlantic/St_Helena
Atlantic/Stanley
Australia/ACT
Australia/Adelaide
Australia/Brisbane
Australia/Broken_Hill
Australia/Canberra
Australia/Currie
Australia/Darwin
Australia/Eucla
Australia/Hobart
Australia/LHI
Australia/Lindeman
Australia/Lord_Howe
Australia/Melbourne
Australia/NSW
Australia/North
Australia/Perth
Australia/Queensland
Australia/South
Australia/Sydney
Australia/Tasmania
Australia/Victoria
Australia/West
Australia/Yancowinna
Brazil/Acre
Brazil/DeNoronha
Brazil/East
Brazil/West
CET
CST6CDT
Canada/Atlantic
Canada/Central
Canada/Eastern
Canada/Mountain
Canada/Newfoundland
Canada/Pacific
Canada/Saskatchewan
Canada/Yukon
Chile/Continental
Chile/EasterIsland
Cuba
EET
EST
EST5EDT
Egypt
Eire
Etc/GMT
Etc/GMT+0
Etc/GMT+1
Etc/GMT+10
Etc/GMT+11
Etc/GMT+12
Etc/GMT+2
Etc/GMT+3
Etc/GMT+4
Etc/GMT+5
Etc/GMT+6
Etc/GMT+7
Etc/GMT+8
Etc/GMT+9
Etc/GMT-0
Etc/GMT-1
Etc/GMT-10
Etc/GMT-11
Etc/GMT-12
Etc/GMT-13
Etc/GMT-14
Etc/GMT-2
Etc/GMT-3
Etc/GMT-4
Etc/GMT-5
Etc/GMT-6
Etc/GMT-7
Etc/GMT-8
Etc/GMT-9
Etc/GMT0
Etc/Greenwich
Etc/UCT
Etc/UTC
Etc/Universal
Etc/Zulu
Europe/Amsterdam
Europe/Andorra
Europe/Astrakhan
Europe/Athens
Europe/Belfast
Europe/Belgrade
Europe/Berlin
Europe/Bratislava
Europe/Brussels
Europe/Bucharest
Europe/Budapest
Europe/Busingen
Europe/Chisinau
Europe/Copenhagen
Europe/Dublin
Europe/Gibraltar
Europe/Guernsey
Europe/Helsinki
Europe/Isle_of_Man
Europe/Istanbul
Europe/Jersey
Europe/Kaliningrad
Europe/Kiev
Europe/Kirov
Europe/Lisbon
Europe/Ljubljana
Europe/London
Europe/Luxembourg
Europe/Madrid
Europe/Malta
Europe/Mariehamn
Europe/Minsk
Europe/Monaco
Europe/Moscow
Europe/Nicosia
Europe/Oslo
Europe/Paris
Europe/Podgorica
Europe/Prague
Europe/Riga
Europe/Rome
Europe/Samara
Europe/San_Marino
Europe/Sarajevo
Europe/Saratov
Europe/Simferopol
Europe/Skopje
Europe/Sofia
Europe/Stockholm
Europe/Tallinn
Europe/Tirane
Europe/Tiraspol
Europe/Ulyanovsk
Europe/Uzhgorod
Europe/Vaduz
Europe/Vatican
Europe/Vienna
Europe/Vilnius
Europe/Volgograd
Europe/Warsaw
Europe/Zagreb
Europe/Zaporozhye
Europe/Zurich
GB
GB-Eire
GMT
GMT+0
GMT-0
GMT0
Greenwich
HST
Hongkong
Iceland
Indian/Antananarivo
Indian/Chagos
Indian/Christmas
Indian/Cocos
Indian/Comoro
Indian/Kerguelen
Indian/Mahe
Indian/Maldives
Indian/Mauritius
Indian/Mayotte
Indian/Reunion
Iran
Israel
Jamaica
Japan
Kwajalein
Libya
MET
MST
MST7MDT
Mexico/BajaNorte
Mexico/BajaSur
Mexico/General
NZ
NZ-CHAT
Navajo
PRC
PST8PDT
Pacific/Apia
Pacific/Auckland
Pacific/Bougainville
Pacific/Chatham
Pacific/Chuuk
Pacific/Easter
Pacific/Efate
Pacific/Enderbury
Pacific/Fakaofo
Pacific/Fiji
Pacific/Funafuti
Pacific/Galapagos
Pacific/Gambier
Pacific/Guadalcanal
Pacific/Guam
Pacific/Honolulu
Pacific/Johnston
Pacific/Kiritimati
Pacific/Kosrae
Pacific/Kwajalein
Pacific/Majuro
Pacific/Marquesas
Pacific/Midway
Pacific/Nauru
Pacific/Niue
Pacific/Norfolk
Pacific/Noumea
Pacific/Pago_Pago
Pacific/Palau
Pacific/Pitcairn
Pacific/Pohnpei
Pacific/Ponape
Pacific/Port_Moresby
Pacific/Rarotonga
Pacific/Saipan
Pacific/Samoa
Pacific/Tahiti
Pacific/Tarawa
Pacific/Tongatapu
Pacific/Truk
Pacific/Wake
Pacific/Wallis
Pacific/Yap
Poland
Portugal
ROC
ROK
Singapore
Turkey
UCT
US/Alaska
US/Aleutian
US/Arizona
US/Central
US/East-Indiana
US/Eastern
US/Hawaii
US/Indiana-Starke
US/Michigan
US/Mountain
US/Pacific
US/Samoa
UTC
Universal
W-SU
WET
Zulu

# Calendar

In [11]:
#To print calndar of a year
import calendar
print (calendar.calendar(2015))

                                  2015

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1                         1
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       2  3  4  5  6  7  8
12 13 14 15 16 17 18       9 10 11 12 13 14 15       9 10 11 12 13 14 15
19 20 21 22 23 24 25      16 17 18 19 20 21 22      16 17 18 19 20 21 22
26 27 28 29 30 31         23 24 25 26 27 28         23 24 25 26 27 28 29
                                                    30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14
13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21
20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28
27 28 29 30               25 26 27 28 29 30 31      29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2          1  2  3  4  5  6
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       7  8  9 10 11 12 13
13 14 15 16 17 18 19      10 11 12 13 14 15 16      14 15 16 17 18 19 20
20 21 22 23 24 25 26      17 18 19 20 21 22 23      21 22 23 24 25 26 27
27 28 29 30 31            24 25 26 27 28 29 30      28 29 30
                          31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1          1  2  3  4  5  6
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       7  8  9 10 11 12 13
12 13 14 15 16 17 18       9 10 11 12 13 14 15      14 15 16 17 18 19 20
19 20 21 22 23 24 25      16 17 18 19 20 21 22      21 22 23 24 25 26 27
26 27 28 29 30 31         23 24 25 26 27 28 29      28 29 30 31
                          30

In [50]:
#To print month of any specific month
import calendar
print (calendar.month(2018,12,10,0))

                               December 2018
  Monday    Tuesday   Wednesday   Thursday    Friday    Saturday    Sunday
                                                            1          2
     3          4          5          6          7          8          9
    10         11         12         13         14         15         16
    17         18         19         20         21         22         23
    24         25         26         27         28         29         30
    31

In [48]:
import calendar
# create a plain text calendar
c = calendar.TextCalendar(calendar.TUESDAY)
str = c.formatmonth(2018, 12, 0, 0)
print (str)

   December 2018
Tu We Th Fr Sa Su Mo
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

# Time

%a : Weekday, short version : Wed
%A : Weekday, full version : Wednesday
%w : Weekday as a number 0-6, 0 is Sunday : 3
%d : Day of month 01-31 : 31
%b : Month name, short version : Dec
%B : Month name, full version : December
%m : Month as a number 01-12 : 12
%y : Year, short version, without century : 18
%Y : Year, full version : 2018
%H : Hour 00-23 : 17
%I : Hour 00-12 : 05
%p : AM/PM : PM
%M : Minute 00-59 : 41
%S : Second 00-59 : 08
%f : Microsecond 000000-999999 : 548513
%z : UTC offset : +0100
%Z : Timezone : CST
%j : Day number of year 001-366 : 365
%U : Week number of year, Sunday as the first day of week, 00-53 : 52
%W : Week number of year, Monday as the first day of week, 00-53 : 52
%c : Local version of date and time : Mon Dec 31 17:41:00 2018
%C : Century : 20
%x : Local version of date : 12/31/18
%X : Local version of time : 17:41:00
%% : A % character : %
%G : ISO 8601 year : 2018
%u : ISO 8601 weekday (1-7) : 1
%V : ISO 8601 weeknumber (01-53) : 01

In [31]:
import time
epc = time.time()
print("1. Seconds passed since 1 Jan 2022: " ,epc) # seconds since 1970
localtime=time.localtime(epc)
print('2. Local time is: ',localtime)
print('3. Year is: ',localtime.tm_year)
print('Today is: ',time.ctime(epc))
ltime = time.localtime()
print('In your current timezone, time is: ', time.strftime('%a %b %d %H:%M:%S %Z %Y',ltime))

1. Seconds passed since 1 Jan 2022:  1645327235.7143438
2. Local time is:  time.struct_time(tm_year=2022, tm_mon=2, tm_mday=20, tm_hour=8, tm_min=50, tm_sec=35, tm_wday=6, tm_yday=51, tm_isdst=0)
3. Year is:  2022
Today is:  Sun Feb 20 08:50:35 2022
In your current timezone, time is:  Sun Feb 20 08:50:35 India Standard Time 2022

In [53]:
# create an HTML formatted calendar
hc = calendar.HTMLCalendar(calendar.SUNDAY)
str = hc.formatmonth(2017, 1)
print (str)
#Open a text file, add <html> add the below code</html> and save the notepad as .html

<table border="0" cellpadding="0" cellspacing="0" class="month">
<tr><th colspan="7" class="month">January 2017</th></tr>
<tr><th class="sun">Sun</th><th class="mon">Mon</th><th class="tue">Tue</th><th class="wed">Wed</th><th class="thu">Thu</th><th class="fri">Fri</th><th class="sat">Sat</th></tr>
<tr><td class="sun">1</td><td class="mon">2</td><td class="tue">3</td><td class="wed">4</td><td class="thu">5</td><td class="fri">6</td><td class="sat">7</td></tr>
<tr><td class="sun">8</td><td class="mon">9</td><td class="tue">10</td><td class="wed">11</td><td class="thu">12</td><td class="fri">13</td><td class="sat">14</td></tr>
<tr><td class="sun">15</td><td class="mon">16</td><td class="tue">17</td><td class="wed">18</td><td class="thu">19</td><td class="fri">20</td><td class="sat">21</td></tr>
<tr><td class="sun">22</td><td class="mon">23</td><td class="tue">24</td><td class="wed">25</td><td class="thu">26</td><td class="fri">27</td><td class="sat">28</td></tr>
<tr><td class="sun">29</td><td class="mon">30</td><td class="tue">31</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td><td class="noday">&nbsp;</td></tr>
</table>

In [33]:
# loop over the days of a month
# zeroes mean that the day of the week is in an overlapping month
import calendar
# create a plain text calendar
c = calendar.TextCalendar(calendar.TUESDAY)

for i in c.itermonthdays(2021, 8):
  print (i)

0
0
0
0
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
0
0
0
0
0
0

In [55]:
# The Calendar module provides useful utilities for the given locale,
# such as the names of days and months in both full and abbreviated forms
for name in calendar.month_name:
  print (name)

January
February
March
April
May
June
July
August
September
October
November
December
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

In [56]:
for day in calendar.day_name:
  print (day)

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

In [57]:
# Calculate days based on a rule: For example, consider
# a team meeting on the first Friday of every month.
# To figure out what days that would be for each month,
# we can use this script:
print ("Team meetings will be on:")
for m in range(1,13):
  # returns an array of weeks that represent the month
  cal = calendar.monthcalendar(2017, m)
  # The first Friday has to be within the first two weeks
  weekone = cal[0]
  weektwo = cal[1]
   
  if weekone[calendar.FRIDAY] != 0:
    meetday = weekone[calendar.FRIDAY]
  else:
    # if the first friday isn't in the first week, it must be in the second
    meetday = weektwo[calendar.FRIDAY]
      
  print ("%10s %2d" % (calendar.month_name[m], meetday))

Team meetings will be on:
   January  6
  February  3
     March  3
     April  7
       May  5
      June  2
      July  7
    August  4
 September  1
   October  6
  November  3
  December  1

In [58]:
# Example file for working with date information
from datetime import date
from datetime import time
from datetime import datetime

def main():
  ## DATE OBJECTS
  # Get today's date from the simple today() method from the date class
  today = date.today()
  print ("Today's date is ", today)
  
  # print out the date's individual components
  print ("Date Components: ", today.day, today.month, today.year)
  
  # retrieve today's weekday (0=Monday, 6=Sunday)
  print ("Today's Weekday #: ", today.weekday())
  days = ["monday","tuesday","wednesday","thursday","friday","saturday","sunday"]
  print ("Which is a " + days[today.weekday()])
  
  ## DATETIME OBJECTS
  # Get today's date from the datetime class
  today = datetime.now()
  print  ("The current date and time is ", today)
  
  # Get the current time
  t = datetime.time(datetime.now())
  print ("The current time is ", t)
  
  
if __name__ == "__main__":
  main();

Today's date is  2021-07-25
Date Components:  25 7 2021
Today's Weekday #:  6
Which is a sunday
The current date and time is  2021-07-25 18:56:31.114885
The current time is  18:56:31.114885

In [59]:
#
# Example file for formatting time and date output
#

from datetime import datetime

def main():
  # Times and dates can be formatted using a set of predefined string
  # control codes 
  now = datetime.now() # get the current date and time
  
  #### Date Formatting ####
  
  # %y/%Y - Year, %a/%A - weekday, %b/%B - month, %d - day of month
  print (now.strftime("The current year is: %Y")) # full year with century
  print (now.strftime("%a, %d %B, %y")) # abbreviated day, num, full month, abbreviated year
  
  # %c - locale's date and time, %x - locale's date, %X - locale's time
  print (now.strftime("Locale date and time: %c"))
  print (now.strftime("Locale date: %x"))
  print (now.strftime("Locale time: %X"))
  
  #### Time Formatting ####
  
  # %I/%H - 12/24 Hour, %M - minute, %S - second, %p - locale's AM/PM
  print (now.strftime("Current time: %I:%M:%S %p")) # 12-Hour:Minute:Second:AM
  print (now.strftime("24-hour time: %H:%M")) # 24-Hour:Minute


if __name__ == "__main__":
  main();

The current year is: 2021
Sun, 25 July, 21
Locale date and time: Sun Jul 25 18:57:17 2021
Locale date: 07/25/21
Locale time: 18:57:17
Current time: 06:57:17 PM
24-hour time: 18:57

In [61]:
#
# Example file for working with timedelta objects
#

from datetime import date
from datetime import time
from datetime import datetime
from datetime import timedelta

# construct a basic timedelta and print it
print (timedelta(days=365, hours=5, minutes=1))

365 days, 5:01:00

In [67]:
# # print today's date

# now = datetime.now()
# print ("today is: " + str(now))

# # print today's date one year from now
# print ("one year from now it will be: " + str(now + timedelta(days=365)))

# # create a timedelta that uses more than one argument
# print ("in two weeks and 3 days it will be: " + str(now + timedelta(weeks=2, days=3)))

# # calculate the date 1 week ago, formatted as a string
# t = datetime.now() - timedelta(weeks=1)
# s = t.strftime("%A %B %d, %Y")
# print ("one week ago it was " + s)

# ### How many days until April Fools' Day?

# today = date.today()  # get today's date
# afd = date(today.year, 4, 1)  # get April Fool's for the same year
# # use date comparison to see if April Fool's has already gone for this year
# # if it has, use the replace() function to get the date for next year
# if afd < today:
#   print ("April Fool's day already went by %d days ago" % ((today-afd).days))
#   afd = afd.replace(year=today.year + 1)  # if so, get the date for next year

# # Now calculate the amount of time until April Fool's Day  
# time_to_afd = afd - today
# print ("It's just", time_to_afd.days, "days until next April Fools' Day!")

# How do I work with dates and times in pandas?

In [1]:
import pandas as pd
df_survey = pd.read_csv('http://bit.ly/uforeports') 
df_survey
# df_survey.info() #datatype of 'Time' column is object type

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
...,...,...,...,...,...
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59

In [2]:
df_survey['Time'].str.slice(-5,-3) #extract just the hours

0        22
1        20
2        14
3        13
4        19
         ..
18236    23
18237    23
18238    23
18239    23
18240    23
Name: Time, Length: 18241, dtype: object

In [3]:
df_survey['Time'] = pd.to_datetime(df_survey['Time'])

In [4]:
df_survey.head()

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,1930-06-01 22:00:00
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00
3,Abilene,NaN,DISK,KS,1931-06-01 13:00:00
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00

In [5]:
# df_survey.info()
df_survey.dtypes

City                       object
Colors Reported            object
Shape Reported             object
State                      object
Time               datetime64[ns]
dtype: object

In [23]:
# df_survey['Time'].dt.hour
# df_survey['Time'].dt.weekday_name
# df_survey['Time'].dt.weekday
df_survey['Time'].dt.dayofyear

0        152
1        181
2         46
3        152
4        108
        ...
18236    366
18237    366
18238    366
18239    366
18240    366
Name: Time, Length: 18241, dtype: int64

In [26]:
(df_survey['Time'].max() - df_survey['Time'].min()).days

25781

In [12]:
df_survey['Time'].round('D') #Rounding off

0       1930-06-02
1       1930-07-01
2       1931-02-16
3       1931-06-02
4       1933-04-19
           ...
18236   2001-01-01
18237   2001-01-01
18238   2001-01-01
18239   2001-01-01
18240   2001-01-01
Name: Time, Length: 18241, dtype: datetime64[ns]