#Data types: 1. Numbers (Integer, float, Complex, Boolean), 2. Strings, 3. List, 4. Dictioanary, 5. Tuple, 6. Set

1. Python Numbers: Numbers are three types in Python 
1. Integers
2. floating point numbers
3. complex numbers

2.  Strings in Python : A string is a sequence of characters. In Python single, double, and triple quotes are used to define strings.

3. List in Python : Python list is an ordered sequence of items. We can store more than one item of different types in a list. Items in the list are accessed using an index.

4. Tuple in Python : Tuple is an ordered sequence of items same as list. The difference is that tuples are immutable and list is mutable.

5. Python Set : Set is an unordered collection of unique items, which means duplicates are not allowed. Set is defined using {} and items in set are separated by commas. set items are not ordered. Set items can’t be accessed using index as they are unordered, hence 'indexing' is NOT possible here. Repeated value is shown only ONCE. values gets sorted out 

6. Dictionary in Python : Dictionary is an unordered collection of key-value pairs. Dictionary is defined using {} and each item is a pair of keys and value.

In [1]:
x=2 #Try for 5.9,   2+3j,  False 
type(x)

int

In [2]:
#conversion of data type is also possible using float() function
x=2
k=float(x)
print(type(k)) # value as 2 has been assigned from x to k as a "float" value i.e. now it is 2.0 
print ("Value of x is" ,x)
print ("Value of k is" ,k)

<class 'float'>
Value of x is 2
Value of k is 2.0

# 3. List

In [9]:
data = ['Physics', 'chemistry','maths']
print(data)
print(*data) #print ONLY the elements of that list

['Physics', 'chemistry', 'maths']
Physics chemistry maths

In [83]:
subjects = list(('Physics', 'chemistry','maths'))
subjects

['Physics', 'chemistry', 'maths']

In [4]:
#Add an item
subjects = ['Physics', 'chemistry','maths']
subjects.append('history')
subjects

['Physics', 'chemistry', 'maths', 'history']

In [5]:
subjects = ['Physics', 'chemistry','maths']
subjects.insert(0,'history') #insert at oth index position
subjects

['history', 'Physics', 'chemistry', 'maths']

In [7]:
subjects = ['Physics', 'chemistry','maths']
subjects.extend(['football','cricket','tennis'])
subjects

['Physics', 'chemistry', 'maths', 'football', 'cricket', 'tennis']

In [6]:
subjects = ['Physics', 'chemistry','maths']
games = ['football','cricket','tennis']
subjects.extend(games)
subjects

['Physics', 'chemistry', 'maths', 'football', 'cricket', 'tennis']

In [8]:
#concatenation
subjects = ['Physics', 'chemistry','maths']
games = ['football','cricket','tennis']
subjects + games

['Physics', 'chemistry', 'maths', 'football', 'cricket', 'tennis']

In [9]:
#delete an item
subjects = ['Physics', 'chemistry','maths']
subjects.remove('chemistry')
subjects

['Physics', 'maths']

In [10]:
subjects = ['Physics', 'chemistry','maths']
subjects.pop(0) #pop-out indexed position item and if no index is specified, it will remove the last item
subjects

['chemistry', 'maths']

In [11]:
subjects = ['Physics', 'chemistry','maths']
subjects.pop() #it will remove the last item
subjects

['Physics', 'chemistry']

In [12]:
subjects = ['Physics', 'chemistry','maths']
del subjects[1]
subjects

['Physics', 'maths']

In [13]:
#Change Item Value on Your List
subjects = ['Physics', 'chemistry', 'maths', 'Physics', 'chemistry', 'maths']
subjects[1]='Data Science'
subjects

['Physics', 'Data Science', 'maths', 'Physics', 'chemistry', 'maths']

In [14]:
subjects = ['Physics', 'chemistry','maths']
subjects.reverse()
subjects

['maths', 'chemistry', 'Physics']

In [15]:
#repetition
subjects *2

['maths', 'chemistry', 'Physics', 'maths', 'chemistry', 'Physics']

In [16]:
alpha_list = ['Physics', 'Chemistry', 'maths', 'physics', 'chemistry', 'Maths']
alpha_list.sort()
alpha_list

['Chemistry', 'Maths', 'Physics', 'chemistry', 'maths', 'physics']

In [17]:
subjects = ['Physics', 'chemistry', 'maths', 'Physics', 'chemistry', 'maths']
New_List =[subjects,alpha_list]
print(New_List)

[['Physics', 'chemistry', 'maths', 'Physics', 'chemistry', 'maths'], [34, 23, 67, 100, 88, 2, 15, 23, 8, 19, 91]]

In [18]:
number_list = [x+5 for x in range (5,15) ]
print(number_list)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [19]:
#slicing
alpha_list = [34, 23, 67, 100, 88, 2,15,23,8,19,91]
alpha_list[1:10:3]

[23, 88, 23]

In [20]:
alpha_list = [34, 23, 67, 100, 88, 2,15,23,8,19,91]
print(min(alpha_list))
print(max(alpha_list))
print(sum(alpha_list))

2
100
470

In [21]:
subjects = ['Physics', 'chemistry', 'maths', 'Physics', 'chemistry', 'maths']
print(subjects.count('Physics'))

2

In [22]:
#count: count total number of occurances of...
# Index means, position where that number was first time found out
Number = [99, 25, 10, 1, 11, 55, 10, 10,55,100, 10, 20,10,-10,20/2, 10.00,10.0] 

print(Number.count(10))
print(Number.index(10))

8
2

In [23]:
boys = ['Vikas', 'Mohan', 'Ramesh', 'Sanman']
start = 1;

for i in boys:
    print(start,i) 
    start+=1

1 Vikas
2 Mohan
3 Ramesh
4 Sanman

In [24]:
boys = ['Vikas', 'Mohan', 'Ramesh', 'Sanman']

for start,i in enumerate(boys,start=1):
    print(start,i)

1 Vikas
2 Mohan
3 Ramesh
4 Sanman

In [ ]:
days = 'Mon', 'Tues','Wed', 'Thurs'
for i,d in enumerate(days):
    print(i,d)

In [25]:
nick_name = ['Mantu', 'Laddo','Bunny']
school_name =['Vikas', 'Shaurya', 'Siddhant']

for start, i in enumerate(nick_name):
    j = school_name[start]
    print(f'{i} is actually {j}')

Mantu is actually Vikas
Laddo is actually Shaurya
Bunny is actually Siddhant

In [26]:
nick_name = ['Mantu', 'Laddo','Bunny']
school_name =['Vikas', 'Shaurya', 'Siddhant']

for value in zip(nick_name,school_name):
    print(value)

('Mantu', 'Vikas')
('Laddo', 'Shaurya')
('Bunny', 'Siddhant')

In [27]:
nick_name = ['Mantu', 'Laddo','Bunny']
school_name =['Vikas', 'Shaurya', 'Siddhant']

for i, j in zip(nick_name,school_name):
    print(f'{i} is actually {j}')

Mantu is actually Vikas
Laddo is actually Shaurya
Bunny is actually Siddhant

In [28]:
name = 'vikas'
print(f'{name}')

vikas

In [29]:
nick_name = ['Mantu', 'Laddo','Bunny']
age = [21,93,12]

print(list(zip(nick_name,age)))

[('Mantu', 21), ('Laddo', 93), ('Bunny', 12)]

In [30]:
nick_name = ['Mantu', 'Laddo','Bunny']
age = [21,93,12]

print(list(zip(nick_name,age)))
for nick_name,age in zip(nick_name,age):
    if age >=21:
        print(nick_name)

[('Mantu', 21), ('Laddo', 93), ('Bunny', 12)]
Mantu
Laddo

In [24]:
usr_input = '1 2 3 4 5 6' #string to list conversion
#['1','2','3','4','5']
my_list = list(map(int,usr_input.split()))
print(my_list)
type(usr_input)

[1, 2, 3, 4, 5, 6]

str

In [31]:
str1 = 'python for data science'
str1.split()

['python', 'for', 'data', 'science']

In [32]:
#URGENT
str1 = 'python for data science'
strlist=str1.split()
'-'.join(strlist)

'python-for-data-science'

In [33]:
#URGENT #7: Write a Python program to convert a list of multiple integers into a single integer [11,33,50].
lst = [11,33,50] 

# iterating each element 
for i in lst: 
    print(i, end="")

113350

In [34]:
#Write a Python program to sum all the items in a list.
lst = [1,3,17,0,-1]
sum_1 = 0

for i in range(len(lst)):
    sum_1+=lst[i]

print(sum_1)

20

In [42]:
#Write a Python program to sum all the items in a list
sum = 0
for i in range(20,31):
    sum += i
print(sum)

275

In [35]:
#Write a Python program to multiply all the items in a list
lst = [1,3,17,-1]
mlt = 1
for i in range(len(lst)):
    mlt=mlt*lst[i]

print(mlt)

-51

In [44]:
#Write a Python program to multiply all the items in a list.
mlt = 1
for i in range(2,5):
    mlt *= i
print(mlt)

24

In [36]:
#Write a Python program to get the largest number from a list.
lst = [10, 20, 4, 45, 99]
print(max(lst))
lst.sort()
print("Number is:", lst[-1])

99
Largest element is: 99

In [47]:
#Find the k-th largest number in a sequence of unsorted numbers
def kLargest(arr, k):
    arr.sort(reverse = True)
    print(arr[k-1]) 

    # Print the first kth largest elements
    for i in range(k):
        print (arr[i], end =" ")
nums = [56,14,7,98,32,12,11,50,45,78,7,5,69]
k = 3 
kLargest(nums,k)

69
98 78 69

In [37]:
#Write a Python program to get the smallest number from a list.
lst = [10, 20, 4, 45, 99]
print(min(lst))
lst.sort()
print("Smallest element is:", lst[0])

4
Smallest element is: 4

In [38]:
#Count number of strings where the string length is 2 or more and  first and last characters are same
nums = ['abc', 'xyz', 'aba', '1221']
count = 0
for i in nums:
    if len(i)>=2 and i[0] == i[-1]:
        count += 1
print(count) #'aba', '1221'

2

# List comprehension

In [6]:
square = [i*i for i in range(2,30,4) ]
print(square)

[4, 36, 100, 196, 324, 484, 676]

In [5]:
square = [i*i for i in range(2,30,4) if i%3==0]
print(square)

[36, 324]

In [41]:
#Find the elements in a list in which elements are ended with 'b' and the length of that element is greater than 2
names = ['a','ba', 'tDB','bba','ccd','frecb','CHb','hb','HB','Jbbbb','acdb']
names_final = []
for i in names:
    if i.endswith('b')and len(i)>2:
        names_final.append(i)
print(names_final)

['frecb', 'CHb', 'Jbbbb', 'acdb']

In [81]:
# Write a Python program to find the list of words that are longer than n from a given list of words.
def custom_word_length(input_list, length_of_word):
    lst = []
    for i in input_list:
        if len(i) > length_of_word:
            lst.append(i)
    return lst
list_sample = ['i', 'am', 'a', 'data', 'science', 'enthusiast']
custom_word_length(list_sample,2)

['data', 'science', 'enthusiast']

In [86]:
#Write a Python function that takes two lists and returns True if they have at least one common member.
l1 = [1,2,3,4,55]
l2 = [2,3,5,6,7,8]
l3 = ["shub","simran"]

def cmp(list_1,list_2):
    cnt = 0
    for member in list_1:
        if member in list_2:
            cnt+=1
    if cnt>0:
        return 'True'
    else:
        return 'False'

cmp(l3,l2)

'False'

In [42]:
#Find the elements in a list in which elements are ended with 'b' and the length of that element is greater than 2
lst_final = [i for i in names if i.endswith('b')and len(i)>2 ] 
print(lst_final)

['frecb', 'CHb', 'Jbbbb', 'acdb']

In [43]:
#Given a list of numbers, display the numbers in the form of '1-Odd', '2-Even', respectively for odd and even numbers
nums = [3,10,4,5,7,6]

odd_even_list = []
for num in nums :
    if num %2==0:
        odd_even_list.append(str(num)+'=Even')
    else:
        odd_even_list.append(str(num)+'=Odd')
print(odd_even_list)

['3=Odd', '10=Even', '4=Even', '5=Odd', '7=Odd', '6=Even']

In [44]:
odd_even_list = [str(num)+'=Even'  if (num %2==0) else  (str(num)+'=Odd') for num in nums ]
print(odd_even_list)

['3=Odd', '10=Even', '4=Even', '5=Odd', '7=Odd', '6=Even']

In [45]:
#Create a dictionary having the word and its corresponding length for length greater than 5 else give the length as 'short'

words = ['Suresh', 'Ramesh', 'Mahesh', 'Vikas', 'Prakash', 'Ram','Sita']
words_dict = {}
for i in words:
    if len(i)>5:
        words_dict[i] = len(i)
    else:
        words_dict[i] = 'Short'
print(words_dict)

{'Suresh': 6, 'Ramesh': 6, 'Mahesh': 6, 'Vikas': 'Short', 'Prakash': 7, 'Ram': 'Short', 'Sita': 'Short'}

In [46]:
words = ['Suresh', 'Ramesh', 'Mahesh', 'Vikas', 'Prakash', 'Ram','Sita']
words_dict ={i:len(i)  if len(i)>5 else 'Short' for i in words }
print(words_dict)

{'Suresh': 6, 'Ramesh': 6, 'Mahesh': 6, 'Vikas': 'Short', 'Prakash': 7, 'Ram': 'Short', 'Sita': 'Short'}

In [47]:
#Given a list including a lot of duplicate names, and there are names with only a single letter. 
#What we want is a list that consists of names that are longer than one letter and have only the first letter capitalized
words = ['SurEsh', 'rAmesh', 'maHEsh', 'suresh','Vikas', 'prakASh','Ramesh' 'rAm','Mahesh','SiTa']
words
news_words = {i for i in words if len(i) >1 and i.istitle()}
print(news_words)

{'Vikas', 'Mahesh'}

In [48]:
#Given a dictionary having items as products and values as the rate, convert the values from dollars to pound using dictionary comprehension
old_price = {'Milk': 10, 'Coffee': 20, 'Bread': 5}
dollar_to_pound = 80
new_price = {k : v * dollar_to_pound for k, v in old_price.items() }
print(new_price)

{'Milk': 800, 'Coffee': 1600, 'Bread': 400}

In [49]:
#1: page 17: Write a Python program that multiplies all the items in the given list: [5,8,10,'7',9.5,’9.5’,’three’].

def multi(items):
    total =1
    for i in items:
        if isinstance(i,int) or isinstance(i,float):
            total*=i
        else:
            if(i.isdigit()):
                total*=float(i) 
            elif '.' in i:
                    total*=float(i)
    return total

print(multi([5,8,10,'7',9.5,'9.5','three']))

252700.0

In [50]:
##2: Page 17: Write a Python program to count the number of strings where the string length is 2 
#or more and the first and last character are same from a given list of strings.
#['abc', 'xyz', 'aba', '1221'].
def match_words(words):
  ctr = 0
  for word in words:
    if len(word) > 1 and word[0] == word[-1]:
      ctr += 1
  return ctr

print(match_words(['abc', 'xyz', 'aba', '1221']))

2

In [71]:
#Write a Python program to remove duplicates from a list
input = ['a','b','c','d','a','c','e','d']
list(set(input))

['d', 'c', 'a', 'e', 'b']

In [70]:
#Write a Python program to remove duplicates from a list
def unique(input):
    output =[]
    for x in input:
        if x not in output:
            output.append(x)
    return output
input = ['a','b','c','d','a','c','e','d']
unique(input)

['a', 'b', 'c', 'd', 'e']

In [52]:
#4 Page 17: Write a Python program to print the numbers of a given list after removing even numbers from it.
num = [7,8, 120, 25, 44, 20, 27]
num = [x for x in num if x%2!=0]
print(num)

[7, 25, 27]

In [53]:
#URGENT #5: Page 17: Write a Python program to get the difference between the two lists.
num1 = [7,8,120,25,123,44,20,27,543]
num2 = [7,8,120,659,25,44,20,456,27]
print(list(set(num1) - set(num2)))

[123, 543]

In [54]:
num_grid = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
num_grid[0][2] + num_grid[1][2]

9

In [55]:
def translate(phrase):
    translation =''
    for i in phrase:
        if i in 'aeiou':
            if i.isupper():
                translation+='G'
            else:
                translation+='g'
        else:
            translation +=i
    return translation
    
print(translate('OEikaUs'))

OEgkgUs

# 4. Tuple

In [56]:
#In list, values can be changed i.e. it is mutable while 'tuple' is immutable.
football = ['hazard','lampard','terry']
football[0] = 'NEW hazard'
football

['NEW hazard', 'lampard', 'terry']

In [202]:
# football = ('hazard','lampard','terry')
# football[0] = 'NEW hazard'
# football

In [57]:
football = ['hazard','lampard','terry',('hazard','lampard','terry')] #i.e. inside a list, there is one tuple
football[3] = 'vikas'
football

['hazard', 'lampard', 'terry', 'vikas']

In [58]:
# football = ('hazard','lampard','terry')
# football.append('zola')
# football

In [59]:
football = ('hazard','lampard','terry')
print(football[1])
print(football.index('terry'))

lampard
2

In [60]:
#slicing
football = ('hazard','lampard','terry')
football[0:2]

('hazard', 'lampard')

In [61]:
#concatenation
football = ('hazard','lampard','terry')
cricket = ('dravid','ponting','johnson')
foocrick = football + cricket
foocrick

('hazard', 'lampard', 'terry', 'dravid', 'ponting', 'johnson')

In [62]:
#repetition
football = ('hazard','lampard','terry')
football *2

('hazard', 'lampard', 'terry', 'hazard', 'lampard', 'terry')

In [203]:
#count 
football = ('hazard','lampard','terry','hazard')
football.count('hazard')

2

In [204]:
#length
football = ('hazard','hazard','lampard','terry')
football.__len__()

4

In [206]:
players = [('hazard','lampard','terry'),('dravid','ponting','johnson')]
players[0][1]

'lampard'

In [209]:
a,b,*c,d = (10,20,30,40,50,60,70)
print(a)
print(b)
print(c)
print(d)

10
20
[30, 40, 50, 60]
70

In [67]:
a,b,_ = (1,2,3) #If we don't want to print c then we can mark that as _

print(a)
print(b)

p,*q,r=(10,20,30,40,50)# all values afterwards will be now under q
#print(p)
print(q)
print(r)

1
2
[20, 30, 40]
50

# 2. String

In [68]:
str1 = 'Python'
str2 ='for'
str3 = 'Date Science'
print (str1, str2 ,str3)

Python for Date Science

In [69]:
str1 = 'Python'
len(str1)

6

In [70]:
chelsea =  'keep the blue flag flying high'
chelsea.index('b')

9

In [71]:
chelsea =  'keep the blue flag flying high'
chelsea.count('f')

2

In [72]:
#Urgent
str2 = 'Python is a good language'
str2 [::2] # start, end, with a gap of 2

'Pto sago agae'

In [211]:
chelsea =  'keep the blue flag flying high'
del chelsea #deleted string 
# print(chelsea)

In [74]:
print("{} and {} are good friends".format('Vikas','Vijit')) #format method

Vikas and Vijit are good friends

In [75]:
print("{1} and {0} are good friends".format('Vikas','Vijit')) #format method

Vijit and Vikas are good friends

In [76]:
print("{a} and {b} are good friends".format(a='Vikas',b='Vijit')) #format method

Vikas and Vijit are good friends

In [77]:
print('Hivikas \n how are you ')

Hivikas
 how are you

In [78]:
character_name = 'vikas' #string variable

print('hi ' +character_name+ ' how are you')
print( character_name+ ' how are you')
print('how are you '+character_name )

hi vikas how are you
vikas how are you
how are you vikas

In [79]:
print('Her name is %s\nHer salary is %d'%('Angela',1000))

Her name is Angela
Her salary is 1000

In [80]:
chelsea =  'keep the blue flag flying high'
print(chelsea.upper())
print(chelsea.isupper())

KEEP THE BLUE FLAG FLYING HIGH
False

In [81]:
chelsea =  'KEEP THE BLUE FLAG FLYING HIGH'
chelsea.lower()

'keep the blue flag flying high'

In [82]:
print([i.lower() for i in 'MAHESH'])

['m', 'a', 'h', 'e', 's', 'h']

In [84]:
words = ['S', 'r', 'm', 'V', 'p','R' ,'M']
print(words[-3:-1])

['p', 'R']

In [85]:
#URGENT s.title()
name = "thiS funCtion rEturns A striNg whicH HAS first letter in each word is uppercase and all remaining letters are lowercase."
print(name.capitalize()) # ONLY first letter of fist word is capitalized
print(name.title()) # first letter of all words capitalized
print(name.upper()) # All letters are capitalized
print(name.lower()) # All letters in lower case
print(name.casefold()) # ALL in lower case

This function returns a string which has first letter in each word is uppercase and all remaining letters are lowercase.
This Function Returns A String Which Has First Letter In Each Word Is Uppercase And All Remaining Letters Are Lowercase.
THIS FUNCTION RETURNS A STRING WHICH HAS FIRST LETTER IN EACH WORD IS UPPERCASE AND ALL REMAINING LETTERS ARE LOWERCASE.
this function returns a string which has first letter in each word is uppercase and all remaining letters are lowercase.
this function returns a string which has first letter in each word is uppercase and all remaining letters are lowercase.

In [86]:
#repetition
str_rep ="python"
print (str_rep*3)
print(3*'python') # with digit multiplication as well, string can be displayed that many times

pythonpythonpython
pythonpythonpython

In [87]:
#Concatenation
chelsea =  'keep the blue flag flying high'
chelsea + ' lampard'

'keep the blue flag flying high lampard'

In [88]:
#membership
chelsea =  'keep the blue flag flying high'
if 'z' in chelsea:
    print('It is an element')
    
else:
    print('Not an element')

Not an element

In [89]:
song = 'let it be, let it be, let it be, let it be'
print(song.replace('let', "don't let",-1)) #ALL occurence will be replaced

don't let it be, don't let it be, don't let it be, don't let it be

In [90]:
song = 'let it be, let it be, let it be, let it be'
print(song.replace('let', "don't let", 2)) #only two occurences of 'let' is replaced

don't let it be, don't let it be, let it be, let it be

In [91]:
#For Loop for a String
x = "Vikas Kumar"
for i in x:
    print (i)

V
i
k
a
s

K
u
m
a
r

In [92]:
#isalpha() methods returns “True” if all characters in the string are alphabets, Otherwise, It returns “False”
str1 = "this"
print (str1.isalpha())

str2 = "this is string example....wow!!!"
print (str2.isalpha())

True
False

In [93]:
#isalnum()- 'is all alphanumeric' method 
# returns True if all characters in the string are alphanumeric. If not, returns False

str1 = "thi123s@@@"
print(str1.isalnum())

str2 = "thi123s"
print(str2.isalnum())

False
True

In [94]:
str1 = "123"
str1.isdigit()

True

In [95]:
str1 = "this is  boy"
str1.startswith('t')

True

In [96]:
str1 = "this is  boy3"
str1.endswith('3')

True

In [212]:
str1 = 'python is for Data Science'
str1.split()

['python', 'is', 'for', 'Data', 'Science']

In [99]:
#Lecture 2:Pg20_Task1_ using .difference()
#Write a Python program to print out a set containing all the colors from color_list_1 which are not present in color_list_2:
#color_list_1 = set(["White", "Black", "Red"]) color_list_2 = set(["Red", "Green"])

color_list_1 = {'White', 'Black', 'Red'}
color_list_2 = {"Red", "Green"}
color_list_3 = color_list_1.difference(color_list_2) # i.e. all from 1, except what is present in 2 
print(color_list_3)

color_list_4 = color_list_2.difference(color_list_1) # i.e. all from 2, except what is present in 1
print(color_list_4)

{'Black', 'White'}
{'Green'}

In [100]:
#s.strip() returns a copy of the string in which all chars have been stripped from the beginning and the end of the string
str = "0000000this is string example....wow!!!0000000";
print (str.strip( '0' ))

this is string example....wow!!!

In [101]:
name = 'VIKAS'
final ='' # initialize an empty string
for i in name:
    final+= i*2

print(final)

VVIIKKAASS

In [102]:
#The bytearray() method returns a bytearray object which is an array of the given bytes.

string = "Python is interesting."
arr = bytearray(string, 'utf-8') # string with encoding 'utf-8'
print(arr)

bytearray(b'Python is interesting.')

In [103]:
#bytes() method returns a bytes object which is an immmutable sequence of integers in the range 0 <=x < 256.
string = "Python is interesting."

arr = bytes(string, 'utf-8') # string with encoding 'utf-8'
print(arr)

b'Python is interesting.'

In [104]:
lion = 45
print('in last %d years, I have seen %0.2f%% of %d lions '%(3,0.1,lion))

in last 3 years, I have seen 0.10% of 45 lions

In [105]:
#If print() function is NOT used then string is shown with single quotes
Name = "Vikas"
Name

'Vikas'

In [106]:
#Swap 2 variables_1
# How will you swap 2 variables without using 3rd variable?
a=5
b=6

a=a+b # a = 5+6 = 11
b = a-b # b = 11 -6 = 5
a = a-b # a = 11 - 5 = 6
print(a)
print(b)

6
5

In [107]:
#Swap 2 variables_2: from above, 11 is of 4 bits. To save one bit, we can use XOR
# How will you swap 2 variables without using 3rd variable?
a=5
b=6

a=a^b #5^6 = 3
b = a^b #3^6 = 5
a = a^b #3^5 = 6

print(a)
print(b)

6
5

In [108]:
#Swap 2 variables_3: Rotation of 2 arrays
# How will you swap 2 variables without using 3rd variable?
a=5
b=6

a,b = b,a
print(a)
print(b)

6
5

In [109]:
#URGENT 3.Write a Python program to count the number of characters (character frequency) in a string. 
#Sample String : google.com Expected Result :<'g':2,'o':3,'l':1,'e':1,'.':1,'c':1,'m':1>
def char_frequency(str1):
    dict = {}
    for n in str1:
        keys = dict.keys()
        if n in keys:
            dict[n] += 1
        else:
            dict[n] = 1
    return dict
print(char_frequency('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [110]:
#3 3.Write a Python program to count the number of characters (character frequency) in a string. 
#Sample String : google.com Expected Result :<'g':2,'o':3,'l':1,'e':1,'.':1,'c':1,'m':1>
test3 = 'google.com'
print(test3.count('g'))
print(test3.count('o'))
print(test3.count('l'))
print(test3.count('e'))
print(test3.count('c'))
print(test3.count('m'))

2
3
1
1
1
1

In [112]:
#4.Write a Python program to remove the characters which have odd index values of a given string.
#https://www.w3resource.com/python-exercises/string/python-data-type-string-exercise-11.php
def odd_values_string(str):
  result = "" 
  for i in range(len(str)):
    if i % 2 == 0:
      result = result + str[i]
  return result

print(odd_values_string('abcdef'))
print(odd_values_string('python'))

ace
pto

In [113]:
#Decorators in Python. Can change the behaviour of existing function at compile time
def div(a,b):
    print(a/b)

def smart_div(func):# function inside a function
    def inner(a,b):# same parameter taken
        if a<b:
            a,b = b,a
        return func(a,b)
    return inner
div_NEW = smart_div(div)   
div_NEW(10,20)

2.0

In [114]:
'hi'>'hI'

True

In [115]:
#Looping and Counting
s= 'python'
for char in s[:6]:
    print(char)

p
y
t
h
o
n

In [116]:
s='TtTtttt'
s.count('t')

5

In [117]:
s='TtTtttt'
print(s.lower().count('t'))
print(s)

7
TtTtttt

In [118]:
s = 'PYthon for Data Science'
'PY' not in s

False

In [124]:
#find(): The find() method returns the lowest index of the substring if it is found in given string. 
#If its is not found then it returns -1.
#syntax: str.find(sub,start,end)
em = 'Hello@gmail.com on Sat'
em.find('o',0,12)

4

In [125]:
print('simplilearn'.find('z')) #print('simplilearn'.find('ea'))

-1

In [126]:
#URGENT 
s = '   hi    '
s.strip() # Removes blank spaces

'hi'

In [127]:
s ='Python'
s.startswith('Py')

True

In [128]:
s ='Python'
s.endswith('on')

True

In [221]:
# Lecrure 3: 1.Take the string 'X-DSPAM-Confidence: 0.8475’ and extract the portion after ‘:’.
test = 'X-DSPAM-Confidence: 0.8475'
print(test.split(':')[1].split()[0])

0.8475

In [130]:
# URGENT 2.From the string “From stephen.marquard@uct.ac.za Sat Jan 5 09:14:16 2008” 
#pull the second half of the email address i.e. uct.ac.za

str = "From stephen.marquard@uct.ac.za Sat Jan 5 09:14:16 2008"
str.split('@')[-1].split()[0]

'uct.ac.za'

In [131]:
#4 Write a Python program to remove the characters which have odd index values of a given string.
def test4(str):
  result = "" 
  for i in range(len(str)):
    if i % 2 == 0:
      result = result + str[i]
  return result

print(test4('abcdef'))
print(test4('python'))

ace
pto

In [14]:
#Palindrome e.g. Madam
def pal(num):
    x1 = num[::-1] #used to reverse
    if x1 == num:
        print(num+ " is Palindrome")
    else:
        print(num+ " is Not a Palindrome")

num = '123456'        
pal(num)

123456 is Not a Palindrome

In [16]:
a = 'vikas'#[1,2,3,4,5,6] #'vikas'
a = a[::-1]
print(a)

sakiv

# 5. Set

In [134]:
s = {22,76,31,98,34,8,98,0,-2}
s

{-2, 0, 8, 22, 31, 34, 76, 98}

In [135]:
#globals(): The globals() method returns the dictionary of the current global symbol table.
age = 23

globals()['age'] = 25
print('The age is:', age)

The age is: 25

In [138]:
integers = {1,2,3,4,5,6,7,5,1,8,4,2,6}
type(integers)

set

In [139]:
integers = {1,2,3,4,5,6,7,5,1,8,4,2,6}
integers.remove(7)
integers

{1, 2, 3, 4, 5, 6, 8}

In [140]:
integers = {1,2,3,4,5,6,7,5,1,8,4,2,6}
integers.discard(4)
integers

{1, 2, 3, 5, 6, 7, 8}

In [141]:
integers = {1,2,3,4,5,6,7,5,1,8,4,2,6}
real = {6,7,9,1,5}
print(integers|real) #union

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [142]:
#intersection
integers = {1,2,3,4,5,6,7,5,1,8,4,2,6}
real = {6,7,9,1,5}
print(integers & real)

{1, 5, 6, 7}

In [143]:
#difference
integers = {1,2,3,4,5,6,7,5,1,8,4,2,6}
real = {6,7,9,1,5}
print(integers - real)

{8, 2, 3, 4}

In [144]:
#symmetric difference EXOR operation
integers = {1,2,3,4,5,6,7,5,1,8,4,2,6}
real = {6,7,9,1,5}
print(integers ^ real)

{2, 3, 4, 8, 9}

In [145]:
#type conversion from list to set
integers = [1,2,3,4,5,6,7,5,1,8,4,2,6]
q = set(integers)
q

{1, 2, 3, 4, 5, 6, 7, 8}

In [146]:
#type conversion from list to tuple
integers = [1,2,3,4,5,6,7,5,1,8,4,2,6]
q = tuple(integers)
q

(1, 2, 3, 4, 5, 6, 7, 5, 1, 8, 4, 2, 6)

In [147]:
#Convert Tuple to a List
x = ('apple', 'orange', 'pear')
y = list(x)
# type(x)
type(y)
print(y)

['apple', 'orange', 'pear']

In [148]:
#convert list of tuples into dictionary
tups = [('vikas',30),('Gaurav',21),('Shaurya',99),('Siddhant',35)]
tups
dict(tups)

{'vikas': 30, 'Gaurav': 21, 'Shaurya': 99, 'Siddhant': 35}

In [149]:
student  = {'name':'vikas','age':35}
student[ 'name']

'vikas'

In [150]:
student  = {'name':'vikas','age':35}
student[ 'gender'] = 'male'
student

{'name': 'vikas', 'age': 35, 'gender': 'male'}

In [151]:
#delete
student  = {'name':'vikas','age':35,'gender':35}
student.pop('name')
student

{'age': 35, 'gender': 35}

In [152]:
#delete
student  = {'name':'vikas','age':35,'gender':35}
student.clear()
student

{}

In [153]:
web_dict = {'person': 'a human being', 
            'marathon': 'a running race that is about 26 miles', 
            'resist': 'to remain strong against the force', 
            'run': 'to move with haste;act quickly'}

del_value = web_dict.popitem() # remove an arbitrary item
print(del_value)
print(web_dict)

('run', 'to move with haste;act quickly')
{'person': 'a human being', 'marathon': 'a running race that is about 26 miles', 'resist': 'to remain strong against the force'}

In [154]:
#change
student  = {'name':'vikas','age':35,'gender':35}
student['name'] = 'shaurya'
student

{'name': 'shaurya', 'age': 35, 'gender': 35}

In [155]:
x =[2,9]
y = x
y+=[20,90]
print(x,y)

[2, 9, 20, 90] [2, 9, 20, 90]

In [156]:
#Find missing numbers in a sorted list range
nums = [1, 2, 4, 6, 7, 9, 10]
sorted(set(range(nums[0],nums[-1]))-set(nums))

[3, 5, 8]

# 6. Dictionary

In [157]:
#Dictionary : dict()
d={'1':'Vikas','2': 'Shaurya','3':'Bunny'}
print('Keys are:', d.keys())
print('Values: ', d.values())
print(d['1'])
print(d.get('2','Not a valid key'))
print(d.get('2'))

Keys are: dict_keys(['1', '2', '3'])
Values:  dict_values(['Vikas', 'Shaurya', 'Bunny'])
Vikas
Shaurya
Shaurya

In [158]:
new_dict = {'brand': 'Honda',  'model': 'Civic', 'year': 1995}
print(new_dict)

{'brand': 'Honda', 'model': 'Civic', 'year': 1995}

In [159]:
# new_dict.keys()
new_dict = {'brand': 'Honda',  'model': 'Civic', 'year': 1995}
for x in new_dict:
    print(x)

brand
model
year

In [160]:
# new_dict.values()
new_dict = {'brand': 'Honda',  'model': 'Civic', 'year': 1995}
for x in new_dict:
    print(new_dict[x])

Honda
Civic
1995

In [161]:
#new_dict.items()
for x, y in new_dict.items():
    print(x, y)

brand Honda
model Civic
year 1995

In [162]:
#Change Item Value
new_dict['year'] = 2020
new_dict

{'brand': 'Honda', 'model': 'Civic', 'year': 2020}

In [163]:
#Use the Filter() function to exclude items in an iterable object (lists, tuples, dictionaries, etc)
ages = [5, 18, 12, 17, 18, 24, 32]
def myFunc(x):
    if x < 18:
        return False
    else:
        return True
adults = filter(myFunc, ages)
for x in adults:
    print(x)

18
18
24
32

In [164]:
# Creating an empty Dictionary 
Dict = {} 
print("Empty Dictionary: ") 
print(Dict) 
  
# Creating a Dictionary  
# with Integer Keys 
Dict = {1: 'Geeks', 2: 'For', 3: 'Geeks'} 
print("\nDictionary with the use of Integer Keys: ") 
print(Dict) 
  
# Creating a Dictionary  
# with Mixed keys 
Dict = {'Name': 'Geeks', 1: [1, 2, 3, 4]} 
print("\nDictionary with the use of Mixed Keys: ") 
print(Dict) 
  
# Creating a Dictionary 
# with dict() method 
Dict = dict({1: 'Geeks', 2: 'For', 3:'Geeks'}) 
print("\nDictionary with the use of dict(): ") 
print(Dict) 
  
# Creating a Dictionary 
# with each item as a Pair 
Dict = dict([(1, 'Geeks'), (2, 'For')]) 
print("\nDictionary with each item as a pair: ") 
print(Dict)

Empty Dictionary:
{}

Dictionary with the use of Integer Keys:
{1: 'Geeks', 2: 'For', 3: 'Geeks'}

Dictionary with the use of Mixed Keys:
{'Name': 'Geeks', 1: [1, 2, 3, 4]}

Dictionary with the use of dict():
{1: 'Geeks', 2: 'For', 3: 'Geeks'}

Dictionary with each item as a pair:
{1: 'Geeks', 2: 'For'}

In [165]:
d={1:100,2:200,3:300}
sum(d.values())

600

In [166]:
d={1:100,2:200,3:300}
max(d.values())

300

In [167]:
d={1:100,2:200,3:300}
min(d.values())

100

In [168]:
my_list = [50,30,10,40,10,20,30,40,50]
for i in my_list:
    print(i)

50
30
10
40
10
20
30
40
50

In [169]:
my_tup = (50,30,10,40,10,20,30,40,50)
for i in my_tup:
    print(i)

50
30
10
40
10
20
30
40
50

In [170]:
my_set = {50,30,10,40,10,20,30,40,50}
for i in my_set:
    print(i)

50
20
40
10
30

In [171]:
# set1 = {1,7,3}
# set2 = {2,6,0}
# print(len(set1 +set2)) # sould give an error

In [172]:
#IMP
my_dict = {'name':'Vikas','rollnum':'27','class': '3','Section':'Sirius'}
for key,val in my_dict.items():
    print('My {} is:  {}'.format(key,val))

My name is:  Vikas
My rollnum is:  27
My class is:  3
My Section is:  Sirius

In [1]:
#Lecture 4: Page9: 1.Write a Python script to sort (ascending and descending) a dictionary by value
import operator
d = {1:34,2:45,3:23,4:2,5:78,6:56}
print('Original Dictionary: ', d)

d1 = sorted(d.items(), key=operator.itemgetter(1))
print('sorted dictionary ascending: ', d1)

d2 = sorted(d.items(), key=operator.itemgetter(1), reverse=True)
#print('sorted dictionary ascending: ', d1 )
print('sorted dictionary descending:' ,d2)

Original Dictionary:  {1: 34, 2: 45, 3: 23, 4: 2, 5: 78, 6: 56}
sorted dictionary ascending:  [(4, 2), (3, 23), (1, 34), (2, 45), (6, 56), (5, 78)]
sorted dictionary descending: [(5, 78), (6, 56), (2, 45), (1, 34), (3, 23), (4, 2)]

In [2]:
#Lecture 4:  Page9: 2. Write a Python script to add a key to a dictionary.
#Sample Dictionary : {0: 10, 1: 20}
#Expected Result : {0: 10, 1: 20, 2: 30}
    
import operator
d = {1:34,2:45,3:23,4:2,5:78,6:56}
print('Original Dictionary: ', d)

d[7]=888
print('After addition: Original Dictionary: ', d)


d1 = sorted(d.items(), key=operator.itemgetter(1))
print('After addition: sorted dictionary ascending: ', d1)

d2 = sorted(d.items(), key=operator.itemgetter(1), reverse=True)
#print('sorted dictionary ascending: ', d1 )
print('After addition: sorted dictionary descending:' ,d2)

Original Dictionary:  {1: 34, 2: 45, 3: 23, 4: 2, 5: 78, 6: 56}
After addition: Original Dictionary:  {1: 34, 2: 45, 3: 23, 4: 2, 5: 78, 6: 56, 7: 888}
After addition: sorted dictionary ascending:  [(4, 2), (3, 23), (1, 34), (2, 45), (6, 56), (5, 78), (7, 888)]
After addition: sorted dictionary descending: [(7, 888), (5, 78), (6, 56), (2, 45), (1, 34), (3, 23), (4, 2)]

In [3]:
#BEST
#Lecture 4:  Page9: 3. Write a Python script to concatenate following dictionaries to create a new one.
#Sample Dictionary : dic1={1:10, 2:20} ; dic2={3:30, 4:40} ; dic3={5:50,6:60}
#Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

import operator
d1 = {1:10,2:20}
print('Original Dictionary 1: ', d1)

d2 = {3:30,4:40}
print('Original Dictionary 2: ', d2)

d3 = {5:50,6:60}
print('Original Dictionary 3 : ', d3)

D = {**d1, **d2,**d3}
print("Final Dictionary is :" , D)#ORIGINALITY is "retained" with d1, d2 and d3 values
print('Original Dictionary 1 is still: ', d1)
print('Original Dictionary 2 is still: ', d2)
print('Original Dictionary 3 is still: ', d3)

Original Dictionary 1:  {1: 10, 2: 20}
Original Dictionary 2:  {3: 30, 4: 40}
Original Dictionary 3 :  {5: 50, 6: 60}
Final Dictionary is : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
Original Dictionary 1 is still:  {1: 10, 2: 20}
Original Dictionary 2 is still:  {3: 30, 4: 40}
Original Dictionary 3 is still:  {5: 50, 6: 60}

In [4]:
#Lecture 4:  Page9: 3. Write a Python script to concatenate following dictionaries to create a new one.
#Sample Dictionary : dic1={1:10, 2:20} ; dic2={3:30, 4:40} ; dic3={5:50,6:60}
#Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

import operator
d1 = {1:10,2:20}
print('Original Dictionary 1: ', d1)

d2 = {3:30,4:40}
print('Original Dictionary 2: ', d2)

d3 = {5:50,6:60}
print('Original Dictionary 3: ', d3)

d2.update(d3)# Now d2 is updated with d3 value

d1.update(d2) # Now d1 is updated with d2 value
print("Final Dictionary is: " ,d1) # Originality is LOST i.e d1 and d2 has now been appended
print('Original Dictionary 1 is now : ', d1)
print('Original Dictionary 2 is now : ', d2)
print('Original Dictionary 3 is now : ', d3)

Original Dictionary 1:  {1: 10, 2: 20}
Original Dictionary 2:  {3: 30, 4: 40}
Original Dictionary 3:  {5: 50, 6: 60}
Final Dictionary is:  {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
Original Dictionary 1 is now :  {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
Original Dictionary 2 is now :  {3: 30, 4: 40, 5: 50, 6: 60}
Original Dictionary 3 is now :  {5: 50, 6: 60}

In [5]:
#Lecture 4:  Page9: 3. Write a Python script to concatenate following dictionaries to create a new one.
#Sample Dictionary : dic1={1:10, 2:20} ; dic2={3:30, 4:40} ; dic3={5:50,6:60}
#Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

import operator
d1 = {1:10,2:20}
print('Original Dictionary 1: ', d1)

d2 = {3:30,4:40}
print('Original Dictionary 2: ', d2)

d3 = {5:50,6:60}
print('Original Dictionary 3: ', d3)

temp= d1.copy()
temp.update(d2)

z= temp.copy()
z.update(d3)

print("Final Dictionary is: " ,z)
print('Original Dictionary 1 is still: ', d1)
print('Original Dictionary 2 is still: ', d2)
print('Original Dictionary 3 is still: ', d3)

Original Dictionary 1:  {1: 10, 2: 20}
Original Dictionary 2:  {3: 30, 4: 40}
Original Dictionary 3:  {5: 50, 6: 60}
Final Dictionary is:  {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
Original Dictionary 1 is still:  {1: 10, 2: 20}
Original Dictionary 2 is still:  {3: 30, 4: 40}
Original Dictionary 3 is still:  {5: 50, 6: 60}

In [6]:
#4.Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).
#Sample Dictionary ( n = 5) :
#Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

it = int(input("enter lenght of dictionary"))
d ={}
for i in range(1,it+1):
    d[i] = i*i

print(d)

enter lenght of dictionary10
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [7]:
# 5. Write a Python program to multiply all the items in a dictionary (keys and values separately).
# d={1: 1, 2: 4, 3: `9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

import operator
d1 = {1:10,2:20}
print('Original Dictionary: ', d1)

d1=dict()
for x in range(1,11):
        d1[x]=x**2
print(d1)

Original Dictionary:  {1: 10, 2: 20}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [8]:
#5:
dict1 = {1:10,2:20}
dict2 = {3:30,4:40}

d={}
{d.update(i) for i in (dict1,dict2) }

print('Appended dictionary is: ', d)

Appended dictionary is:  {1: 10, 2: 20, 3: 30, 4: 40}

In [9]:
Dict = {'Tim': 18,'Charlie':12,'Tiffany':22,'Robert':25}
Dict.update({"Sarah":9})
print(Dict)

{'Tim': 18, 'Charlie': 12, 'Tiffany': 22, 'Robert': 25, 'Sarah': 9}

In [10]:
student = {'name': 'Vikas', 'age': 33, 'gender': 'Male','courses':['Maths', 'Science']}
print(student['name'])
print(student['courses'])

Vikas
['Maths', 'Science']

In [11]:
student = {1: 'Vikas', 'age': 33, 'gender': 'Male','courses':['Maths', 'Science']}
print(student[1])
print(student.get('age'))

Vikas
33

In [12]:
student = {1: 'Vikas', 'age': 33, 'gender': 'Male','courses':['Maths', 'Science']}
print(student.get('phone'))# as phone is not added, retun "None" as a value

None

In [13]:
student = {1: 'Vikas', 'age': 33, 'gender': 'Male','courses':['Maths', 'Science']}
print(student.get('phone', 'Not found'))# as phone is not added, retun "None" as a value

Not found

In [14]:
student = {1: 'Vikas', 'age': 33, 'gender': 'Male','courses':['Maths', 'Science']}
student['phone'] = '555-5555'
student['gender'] = 'female'
print(student)

{1: 'Vikas', 'age': 33, 'gender': 'female', 'courses': ['Maths', 'Science'], 'phone': '555-5555'}

In [15]:
student = {1: 'Vikas', 'age': 33, 'gender': 'Male','courses':['Maths', 'Science']}
student[1] = 'Kusum'
student['age'] = 99
student['gender'] = 'female'

print(student)

{1: 'Kusum', 'age': 99, 'gender': 'female', 'courses': ['Maths', 'Science']}

In [16]:
#from the sentence sort the occurence of words
counts =dict()

mystr = "How much wood could a woodchuck chuck if a woodchuck could chuck wood? A woodchuck you say? Not much if the wood were mahogany"
str_tup = mystr.split()

print(str_tup)

for word in str_tup:
        counts.update({word:str_tup.count(word)})
        
print (counts)
sorted(counts.items(),key = lambda k:k[1],reverse=True)

['How', 'much', 'wood', 'could', 'a', 'woodchuck', 'chuck', 'if', 'a', 'woodchuck', 'could', 'chuck', 'wood?', 'A', 'woodchuck', 'you', 'say?', 'Not', 'much', 'if', 'the', 'wood', 'were', 'mahogany']
{'How': 1, 'much': 2, 'wood': 2, 'could': 2, 'a': 2, 'woodchuck': 3, 'chuck': 2, 'if': 2, 'wood?': 1, 'A': 1, 'you': 1, 'say?': 1, 'Not': 1, 'the': 1, 'were': 1, 'mahogany': 1}

[('woodchuck', 3),
 ('much', 2),
 ('wood', 2),
 ('could', 2),
 ('a', 2),
 ('chuck', 2),
 ('if', 2),
 ('How', 1),
 ('wood?', 1),
 ('A', 1),
 ('you', 1),
 ('say?', 1),
 ('Not', 1),
 ('the', 1),
 ('were', 1),
 ('mahogany', 1)]

In [17]:
a=11,12,13,14
b=1,2,3,4
c=list(zip(a,b))
print(c)

[(11, 1), (12, 2), (13, 3), (14, 4)]

In [18]:
numberList = [1, 2, 3]
strList = ['one', 'two', 'three']

result_list= list(zip(numberList, strList))# Converting itertor to list
print(result_list)

resultSet = set(zip(numberList, strList)) # Converting itertor to set
print(resultSet)

[(1, 'one'), (2, 'two'), (3, 'three')]
{(1, 'one'), (3, 'three'), (2, 'two')}

In [19]:
a=11,12,13,14
a[0:2]

(11, 12)

In [49]:
#Page:13: 1.Write a Python program to replace last value of tuples in a list. 
l=[(10, 20, 40), (40, 50, 60), (70, 80, 90)]
for item in l:
    tup=item[:-1]+(100,)
    l[l.index(item)]=tup
print(l)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [57]:
#Write a Python program to get a list, 
#sorted in increasing order by the last element in each tuple from a given list of non-empty tuples
l_sample = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
def sort_custom(input_list):
    return sorted(input_list, key=lambda x : x[1])
sort_custom(l_sample)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [21]:
#Incorrect
#Page13: 2.Write a Python program to convert a given dictionary to a list of key-value tuples
#Sample dict: {‘a’:10, ‘b’:1, ‘c’:22} Expected Output: [(10, ‘a’), (1,’b’), (22,’c’)]
dict = {'a':10, 'b':1, 'c':22}

dict1=dict.values()
dict2= dict.keys()

dict_list= list(zip(dict1, dict2))
print(dict_list)

[(10, 'a'), (1, 'b'), (22, 'c')]

In [22]:
#Incorrect
#Page13: 2.Write a Python program to convert a given dictionary to a list of key-value tuples
#Sample dict: {‘a’:10, ‘b’:1, ‘c’:22} Expected Output: [(10, ‘a’), (1,’b’), (22,’c’)]
sampledict = {'a':10, 'b':1, 'c':22}
[tuple(reversed(sampledict)) for sampledict in d.items()]

[(10, 1), (20, 2), (30, 3), (40, 4)]

In [23]:
#Page13: 2.Write a Python program to convert a given dictionary to a list of key-value tuples
#Sample dict: {‘a’:10, ‘b’:1, ‘c’:22} Expected Output: [(10, ‘a’), (1,’b’), (22,’c’)]
d = {'a':10, 'b':1, 'c':22}
l = list()
for key, val in d.items() :
    l.append( (val, key) )
l

[(10, 'a'), (1, 'b'), (22, 'c')]

In [24]:
d = {'a':10, 'b':1, 'c':22}
l = list()
for key, val in d.items() :
    l.append( (val, key) )

l.sort(reverse=True)
l

[(22, 'c'), (10, 'a'), (1, 'b')]

In [25]:
#setdefault():returns value of the item with the specified key.If key does not exist, insert the key, with the specified value

car = {  "brand": "Ford",   "model": "Mustang",   "year": 1964}

x = car.setdefault("model", "Bronco")
y = car.setdefault("color", "white")
print(x)
print(y)

Mustang
white

In [26]:
my_dict = {1:'Vikas',2:'Shaurya'}
print(*my_dict )

1 2

In [27]:
dict1 = {1 : "Mike", 2 : "Peter"}
dict2 = {"Mike" : "Lawson", "Peter" : "Plumming"}
dict3 = {**dict1, **dict2}
print(dict3)
#output = {1 : "Mike", 2 : "Peter", "Mike" : "Lawson" "Peter" : "Plumming"}

{1: 'Mike', 2: 'Peter', 'Mike': 'Lawson', 'Peter': 'Plumming'}

In [28]:
#To convert a list of tuples into a dictionary.
l = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]
d = {}
for a, b in l:
    d.setdefault(a, []).append(b)
print (d)

{'x': [1, 2, 3], 'y': [1, 2], 'z': [1]}

In [29]:
#May be irrelevant example
#To convert a list of tuples into a dictionary.
l = [("x", 1),   ("y", 2), ("z", 3)]
d = {}
for a, b in l:
    d.setdefault(a, []).append(b)
print (d)

{'x': [1], 'y': [2], 'z': [3]}

In [30]:
dict = {'a':10, 'b':1, 'c':22}
dict.items()

dict_items([('a', 10), ('b', 1), ('c', 22)])

In [31]:
dict = {'a':10, 'b':1, 'c':22}
dict.keys()

dict_keys(['a', 'b', 'c'])

In [32]:
dict = {'a':10, 'b':1, 'c':22}
dict.values()

dict_values([10, 1, 22])

# Type conversion

In [173]:
x = 10
y=12.5

print(float(x)+y)
type(x+y)

22.5

float

In [174]:
x = 10
y=12.5

print(x+int(y))

22

In [48]:
testtpl = ("apple", "banana", "cherry")
print(testtpl)
print(testtpl+tuple(testtpl))
print(list(testtpl))

('apple', 'banana', 'cherry')
('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')
['apple', 'banana', 'cherry']

In [176]:
x = 10

In [177]:
set(name)

{'A', 'I', 'K', 'S', 'V'}

In [178]:
#join
list1=['ASAP', 'RSVP']
for item in list1:
    print('.'.join(item))

A.S.A.P
R.S.V.P

In [179]:
#URGENT join -- .at the end as well
list1=['ASAP', 'RSVP']
for item in list1:
    print('.'.join(item +' '))

A.S.A.P.
R.S.V.P.

In [180]:
# Retruned as complex number
complex(4,6)

(4+6j)

In [181]:
#what type casting for complex number
type(complex(4,6))

complex

In [182]:
#what type of it is ...
type((4,3))

tuple

In [183]:
#what type of it is ...
type(print)

builtin_function_or_method

In [184]:
#what type of it is ...
type(print())

NoneType

In [185]:
type(type)

type

In [224]:
(0, 3, 2) < (0, 2, 4)

False

In [187]:
t1=(1,2,3)
print(t1*2)

(1, 2, 3, 1, 2, 3)

In [188]:
a=({'1:2'})
type(a)

set

In [189]:
a=(1,2,3,4)
a[1:-1]

(2, 3)

In [190]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][2]

3

In [191]:
a={i: i*i for i in range(6)}
a

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [192]:
a={}
a.fromkeys([1,2,3],"check")

{1: 'check', 2: 'check', 3: 'check'}

In [226]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
lst[3][1][2][0]

'hello'

In [195]:
#Given a list of numbers, where every number shows up twice except for one number, find that one number
#https://www.journaldev.com/37091/get-unique-values-from-a-list-in-python
list_inp = [100, 75, 100, 20, 75, 12, 75, 25] 
 
set_res = set(list_inp) 
print("The unique elements of the input list using set():\n") 
list_res = (list(set_res))
  
for item in list_res: 
    print(item)

The unique elements of the input list using set():

100
75
12
20
25

In [196]:
#Given a list of numbers, where every number shows up twice except for one number, find that one number
list_inp = [100, 75, 100, 20, 75, 12, 75, 25] 
 
res_list = []
 
for item in list_inp: 
    if item not in res_list: 
        res_list.append(item) 
 
print("Unique elements of the list using append():\n")    
for item in res_list: 
    print(item)

Unique elements of the list using append():

100
75
20
12
25

In [197]:
#Given a list of numbers, where every number shows up twice except for one number, find that one number
import numpy as N
list_inp = [100, 75, 100, 20, 75, 12, 75, 25] 

res = N.array(list_inp) 
unique_res = N.unique(res) 
print("Unique elements of the list using numpy.unique():\n")
print(unique_res)

Unique elements of the list using numpy.unique():

[ 12  20  25  75 100]

In [198]:
#Given an unsorted list and a number S, find all the pairs of numbers in that list such that their sum equals S.
#https://www.educative.io/edpresso/how-to-implement-the-two-sum-problem-in-python

def twoSumNaive(num_arr, pair_sum):
  # search first element in the array
  for i in range(len(num_arr) - 1):
    # search other element in the array
    for j in range(i + 1, len(num_arr)):
      # if these two elemets sum to pair_sum, print the pair
      if num_arr[i] + num_arr[j] == pair_sum:
        print("Pair with sum", pair_sum,"is: (", num_arr[i],",",num_arr[j],")")

      

# Driver Code
num_arr = [3, 5, 2, -4, 8, 11]
pair_sum = 7

# Function call inside print
twoSumNaive(num_arr, pair_sum)

Pair with sum 7 is: ( 5 , 2 )
Pair with sum 7 is: ( -4 , 11 )

In [199]:
#Given an unsorted list and a number S, find all the pairs of numbers in that list such that their sum equals S.
#https://www.educative.io/edpresso/how-to-implement-the-two-sum-problem-in-python

def twoSumHashing(num_arr, pair_sum):
    sums = []
    hashTable = {}

    for i in range(len(num_arr)):
        complement = pair_sum - num_arr[i]
        if complement in hashTable:
            print("Pair with sum", pair_sum,"is: (", num_arr[i],",",complement,")")
        hashTable[num_arr[i]] = num_arr[i]

# Driver Code
num_arr = [3, 5, 2, -4, 8, 11]
pair_sum = 7   
  
# Calling function
twoSumHashing(num_arr, pair_sum)

Pair with sum 7 is: ( 2 , 5 )
Pair with sum 7 is: ( 11 , -4 )